<div class="container-fluid py-5 text-center">
  <h1 class="display-3 text-danger">403</h1>
  <p class="lead">🚫 Access Forbidden</p>
  <p>You don’t have permission to access this page or perform this action.</p>
  <a href="/" class="btn btn-primary mt-3">
    <i class="fas fa-home"></i> Go to Home
  </a>
</div>
